<div class="comments">
    {{#each Comments}}
    <div class="comment">
        <p><strong>{{User.username}}</strong> on {{format_date created_at}}</p>
        <div class="comment-text">{{comment_text}}</div>
    </div>
    {{/each}}
</div>