<div class="post">
    <h2>{{title}}</h2>
    <p>{{content}}</p>
    <p>by {{user.username}}</p>
    <p>{{post.createdAt}}</p>
    <input type="text" placeholder="" id="comment-text">
    <button id="comment-btn">Post Comment</button>
</div>