body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #000;
}

header {
  background-color: #3e1818;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  padding: 5px;
  overflow: hidden;
}

nav ul li {
  float: left;
  margin: 5px;
  color: #fff;
  padding-left: 25px;
  text-decoration: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

#logout {
  background: none;
  border: none;
  color: #fff;
}

header h1 {
  color: #3e1818;
  margin: 0;
  margin-left: 40px;
  text-align: left;
  margin-bottom: 15px;
  margin-right: 5px;
}

.site-name {
  color: #fff;
  margin: 0;
  text-align: left;
  background-color: white;
  width: fit-content;
  border-radius: 3px;
  box-shadow: 3px 3px #888888;
}

main {
  padding-top: 120px;
}

.post {
  background-color: #fff;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post input {
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.post button {
  width: 130px;
  padding: 10px;
  border: none;
  background-color: #3e1818;
  color: #fff;
  cursor: pointer;
}

.post h2 {
  margin: 0;
  margin-bottom: 10px;
  color: #333
}

.post p {
  color: #666
}

.comments {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.comments li {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

.comments li:last-child {
  border-bottom: none;
}

.form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.post a{
  margin-bottom: 20px;
  text-decoration: none;
  color: #000;
  cursor: pointer;
  font-size: 20px;
}

.post a:hover{
  text-decoration: underline;
}

footer {
  background-color: #3e1818;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}